.momentous-container {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
}
.momentous-container .input-append {
  width: 244px;
}
.momentous-container .momentous-input {
  position: absolute;
  text-align: center;
  left: 0px;
  width: 204px;
  font-size: 16px;
  height: 32px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  background: #fff;
  user-select: none;
}
.momentous-container .momentous-cal-button {
  position: absolute;
  right: 0px;
  height: 34px;
  width: 40px;
}
.momentous-container .momentous-dropdown {
  position: absolute;
  top: 40px;
  background: #fff;
  display: block;
  width: 240px;
  border: solid 1px #ccc;
  border-radius: 4px;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.momentous-container .momentous-dropdown .momentous-nav {
  height: 20px;
  padding: 8px 0px 8px 8px;
}
.momentous-container .momentous-dropdown .momentous-nav .view-button {
  display: inline-block;
  text-align: center;
  width: 140px;
}
.momentous-container .momentous-dropdown .momentous-nav span {
  height: 17px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 16px;
  font-weight: bold;
}
.momentous-container .momentous-dropdown .momentous-nav span:hover {
  background: #efefef;
}
.momentous-container .momentous-dropdown th.cur-view {
  text-align: center;
}
.momentous-container .momentous-dropdown table {
  margin: 6px;
  font-size: 14px;
}
.momentous-container .momentous-dropdown table th.dow {
  cursor: default;
  font-size: 12px;
  width: 25px;
  height: 26px;
}
.momentous-container .momentous-dropdown table tr td {
  text-align: center;
  overflow: hidden;
  border: none;
}
.momentous-container .momentous-dropdown table tr td.day {
  height: 0;
  padding: 6px 0;
}
.momentous-container .momentous-dropdown table tr td.lastMonth,
.momentous-container .momentous-dropdown table tr td.nextMonth {
  color: #bbb;
}
.momentous-container .momentous-dropdown table tr:not(.week) td {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  border: none;
}
.momentous-container .momentous-dropdown table tr:not(.week) td:not(.active):hover {
  background: #efefef;
}
.momentous-container .momentous-dropdown table tr:not(.week) td.active {
  background: #222;
  color: #fff;
}
.momentous-container .momentous-dropdown table tr:not(.week) td.startDate {
  background: #222;
  color: #fff;
  border-radius: 4px 0 0 4px;
}
.momentous-container .momentous-dropdown table tr:not(.week) td.endDate {
  background: #222;
  color: #fff;
  border-radius: 0 4px 4px 0;
}
.momentous-container .momentous-dropdown table tr:not(.week) td.inDateRange {
  background: #eee;
  border-radius: 0;
  border-bottom: solid 1px #fff;
}
.momentous-container .momentous-dropdown table tr.week {
  border-radius: none;
}
.momentous-container .momentous-dropdown table tr.week.active {
  background: #222;
  color: #fff;
}
.momentous-container .momentous-dropdown table tr.week:not(.active):hover {
  background: #efefef;
  cursor: pointer;
}
.momentous-container .momentous-dropdown table tr.week td {
  text-align: center;
}
.momentous-container .momentous-dropdown table tr.week td:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
.momentous-container .momentous-dropdown table tr.week td:nth-child(7) {
  border-radius: 0 4px 4px 0;
}
.momentous-container .momentous-dropdown .months-view ul {
  list-style: none;
  padding: 14px 0 0 0px;
  margin: 0px;
}
.momentous-container .momentous-dropdown .months-view ul li {
  float: left;
  padding: 18px 12px;
  width: 26px;
  border-radius: 4px;
  margin: 0 0 8px 8px;
  cursor: pointer;
}
.momentous-container .momentous-dropdown .months-view ul li.active {
  background: #222;
  color: #fff;
}
.momentous-container .momentous-dropdown .months-view ul li:not(.active):hover {
  background: #efefef;
}
