body
  padding: 60px 0px

.momentous-container
  position: relative

  .momentous-input
    text-align: center
    padding: 14px 10px
    width: 210px
    font-size: 16px

  .momentous-cal-button
    padding: 6px 10px 7px

  .momentous-dropdown
    position: absolute
    top: 32px
    background: white
    display: block
    width: 240px
    border: solid 1px #ccc
    border-radius: 4px
    display: none
    user-select: none !important

    table
      margin: 6px
      font-size: 14px

      tr.cal-nav
        height: 30px

        th
          border-radius: 4px
          cursor: pointer

          &.dir-button:hover
            background: #efefef

      th.dow
        cursor: default
        font-size: 12px
        width: 25px
        height: 26px

      td
        text-align: center
        border-radius: 4px
        cursor: pointer
        overflow: hidden
        border: none

        &.day
          height: 0
          padding: 6px 0

        &:not(.active):hover
          background: #efefef

        &.active
          background: #222
          color: #fff

        &.lastMonth, &.nextMonth
          color: #bbb

